.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 249, 252);
  z-index: 1000;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid rgb(12, 12, 143);
}
